/SistemasDIstribuidosB1/nbproject/private/
/SistemasDIstribuidosB1/build/
/SistemasDIstribuidosB1/dist/
/mavenproject1/target/
/JsfJpaCrud/nbproject/private/
/JsfJpaCrud/build/
/JsfJpaCrud/dist/
/HelloWorld/nbproject/private/
/SDB1Web/target/